<div class="row">
  <!-- <div class="col-sm-2 p-2">
    <app-sidenav-eventos></app-sidenav-eventos>
  </div> -->
  <div class="col-sm-10 p-5">
    <h2 style=text-align:center><b>Agenda</b></h2>
    <br>
    <div class="container-fluid border m-2">
      <table class="table table-borderless">
        <thead>
          <tr>
            <th scope="col" colspan="4">Hoy</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>10/07/2018 12:00</td>
            <td>Lolla</td>
            <td>Hipodromo</td>
            <td>Pedro</td>

          </tr>
          <tr>
            <td>19/08/2018 19:30</td>
            <td>Fiesta</td>
            <td>Bar7</td>
            <td>Juan</td>
          </tr>
          <thead>
            <tr>
              <th scope="col" colspan="4">Esta semana</th>
            </tr>
          </thead>
          <tr>
            <td>19/08/2018 19:30</td>
            <td>Fiesta</td>
            <td>Bar7</td>
            <td>Juan</td>
          </tr>
          <thead>
            <tr>
              <th scope="col" colspan="4">Proximos</th>
            </tr>
          </thead>
          <tr>
            <td>19/08/2018 19:30</td>
            <td>Fiesta</td>
            <td>Bar7</td>
            <td>Juan</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>