<h2 style=text-align:center><b>Agenda</b></h2>
<br>
<div class="container-fluid border m-2">
  <table class="table table-borderless">
    <thead>
      <tr>
        <th scope="col" colspan="4">Hoy</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let evento of eventosHoy">
        <td>{{evento.inicioEvento}}</td>
        <td>{{evento.nombreEvento}}</td>
        <td>{{evento.locacion}}</td>
        <td>{{evento.organizador}}</td>
      </tr>
      <thead>
        <tr>
          <th scope="col" colspan="4">Esta semana</th>
        </tr>
      </thead>
      <tr>
        <td>19/08/2018 19:30</td>
        <td>Fiesta</td>
        <td>Bar7</td>
        <td>Juan</td>
      </tr>
      <thead>
        <tr>
          <th scope="col" colspan="4">Proximos</th>
        </tr>
      </thead>
      <tr>
        <td>19/08/2018 19:30</td>
        <td>Fiesta</td>
        <td>Bar7</td>
        <td>Juan</td>
      </tr>
    </tbody>
  </table>
</div>
<!-- </div>
</div> -->