<div class="container-fluid  border ">
  <h2>Nuevo evento abierto</h2>

  <form>
    <div class="form-row">
      <div class="form-group col">
        <label>Nombre</label>
        <input class="form-control" [(ngModel)]="evento.nombreEvento" name="nombre" placeholder="Ingrese nombre">
      </div>
      <div class="form-group col">
        <label>Locacion</label>
        <select class="form-control" id="locacion" name="locacion" [(ngModel)]="evento.locacion">
          <option *ngFor="let locacion of locacionesPosibles" [ngValue]="locacion">{{locacion.descripcion}}</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col">
        <label>Inicio</label>
        <my-date-picker name="inicioEvento" [options]="opcionesFecha" [(ngModel)]="inicioModel" required>
        </my-date-picker>
        <!-- <input type="time" name="inicioEvento" [(ngModel)]="horaInicioModel" required pattern="[0-9]{2}:[0-9]{2}" /> -->
      </div>
      <div class="
          form-group col">
        <label>Fin</label>
        <my-date-picker name="finEvento" [options]="opcionesFecha" [(ngModel)]="finEventoModel" required>
        </my-date-picker>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-6">
        <label>Fecha maxima de confirmacion</label>
        <my-date-picker name="fechaMaximaConfirmacion" [options]="opcionesFecha" [(ngModel)]="fechaMaximaConfirmacion"
          required>
        </my-date-picker>
      </div>
    </div>
  </form>
  <div class="alert alert-danger animate-repeat" *ngFor="let error of errors">{{error}}</div>
  <div class="btn-group " role="group" aria-label="Basic example">
    <button type="button" class="btn btn-info text-left" (click)="aceptar()" type="submit">
      Aceptar</button>
    <button type="button" class="btn btn-danger text-left" (click)="cancelar()">Cancelar</button>
  </div>
</div>