<div class="border table table-resposive-sm ">
  <h2 style=text-align:center><b>Agenda</b></h2>
  <br>
  <table class="table table-borderless">
    <thead>
      <tr>
        <th scope="col" colspan="4">Hoy</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let evento of eventosHoy">
        <!-- <app-evento-detail [evento]="evento"></app-evento-detail> -->
        <td>{{evento.inicioEvento| date : 'dd/MM/yyyy HH:mm' }}</td>
        <td>{{evento.nombreEvento}}</td>
        <td>{{evento.locacion.descripcion}}</td>
        <td>{{evento.organizadorEvento}}</td>
      </tr>
      <thead>
        <tr>
          <th scope="col" colspan="4">Esta semana</th>
        </tr>
      </thead>
      <tr *ngFor="let evento of eventosEstaSemana">
        <td>{{evento.inicioEvento | date : 'dd/MM/yyyy HH:mm'}}</td>
        <td>{{evento.nombreEvento}}</td>
        <td>{{evento.locacion.descripcion}}</td>
        <td>{{evento.organizadorEvento}}</td>
      </tr>
      <thead>
        <tr>
          <th scope="col" colspan="4">Proximos</th>
        </tr>
      </thead>
      <tr *ngFor="let evento of eventosProximos">
        <td>{{evento.inicioEvento | date : 'dd/MM/yyyy H:m'}}</td>
        <td>{{evento.nombreEvento}}</td>
        <td>{{evento.locacion.descripcion}}</td>
        <td>{{evento.organizadorEvento}}</td>
      </tr>
    </tbody>
  </table>
</div>