<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 info-usr">
      <mat-card class="text-card shadow">
        <img mat-card-image class="card-img-top img-thumbnail rounded-circle w-50 m-3"
          src="../../../assets/img/D93.png">
        <mat-card-title>{{usuario?.nombre}} {{usuario?.apellido}}</mat-card-title>
        <mat-card-subtitle>@{{usuario?.nombreUsuario}}</mat-card-subtitle>
        <mat-card-content>
          <p> <i class="fas fa-star"></i> {{usuario?.tipoUsuario.descripcion}} </p>
          <p><i class="fas fa-envelope-square"></i> {{usuario?.mail}}</p>
          <p><i class="fas fa-user-alt"></i> {{usuario?.cantidadAmigos}}</p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-sm-9 info-usr">
      <div class="d-flex p-2 bg-light shadow-sm">Amigos</div>
      <mat-list *ngFor="let amigo of usuario?.amigos">
        <mat-list-item>
          <mat-icon mat-list-icon>face</mat-icon>
          <h4 mat-line>{{amigo.nombre}} {{amigo.apellido}}</h4>
          <p mat-line>@{{amigo.nombreUsuario}}</p>
          <button color="warn" type="button" title="Eliminar de mis amigos" class="btn btn-danger"
            (click)="openDialog(amigo)" aria-label=" Eliminar">

            <!-- (click)="eliminarAmigo(amigo)" -->
            Eliminar
          </button>
        </mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
      <div *ngIf="usuario?.cantidadAmigos == 0" class="container-fluid">
        <img class="card-img-top w-75 img-fluid" src="../../../assets/img/Df_5Mq7UYAEQSoZ.jpg">
      </div>
    </div>
  </div>
</div>