<app-toolbar></app-toolbar>
<app-agenda></app-agenda>
<app-filtro-tabla></app-filtro-tabla>

<!-- 

            <h2>Prueba Barra Lateral mi perfil (ignorar)</h2>
        </div>
            
            <div class="container">
                    <div class="row">
                <div class="col-3">
                    
                    <img src="{{diego.linkFoto}}">
                      <h2> {{diego.nombre}}</h2>
                         <p>@{{diego.username}}</p>
                          <p>  <i class="fas fa-star"></i> {{diego.tipoDeUsuario}} </p>
                          <p><i class="fas fa-envelope-square"></i> {{diego.mail}}</p>
                          <p><i class="fas fa-user-alt"></i> {{diego.cantidadSeguidores}}</p>
                       
                        </div>
                      
            <div class="col-9" >
                    <div class="card-header">
            <h2>Amigos</h2>            
            <table class="table table-striped table-hover">
                <tr><div>
                  <th>Nombre</th></div>
                  <th style="text-align: right">Apodo</th> 
                  
                </tr></table>
              <div *ngFor='let elemento of amigos'>
              <app-usuario [usuario]="elemento"  amigo1="carlo" amigo2="mario"></app-usuario>
            </div>   
            </div>
            </div>  
            </div>       
            </div>
</div> </div>

 -->