<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">

<div class="container-fluid bg-primary">
    <nav class="navbar navbar-expand-lg navbar-dark ">
        <h1 class="navbar-brand mr-auto" href="#">Event OS</h1>
        <div class="btn-group">
            <button type="button" class="btn btn-primary">Mis Eventos</button>
            <button type="button" class="btn btn-primary">Perfil</button>
        </div>
    </nav>
</div>
<div class="container-fluid mt-2">
    <div class="row">
        <div class="col-sm-2 p-2">
            <div class="btn-group-vertical">
                <button type="button" class="btn btn-light text-left">Agenda</button>
                <button type="button" class="btn btn-light text-left">Organizados por mi</button>
                <button type="button" class="btn btn-light text-left">Pendientes</button>
            </div>
        </div>
        <div class="col-sm-10 p-5">
            <h2><b>Agenda</b></h2>
            <br>
            <div class="container-fluid border m-2">
                <table class="table table-borderless">
                    <thead>
                        <tr>
                            <th scope="col" colspan="4">Hoy</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>10/07/2018 12:00</td>
                            <td>Lolla</td>
                            <td>Hipodromo</td>
                            <td>Pedro</td>

                        </tr>
                        <tr>
                            <td>19/08/2018 19:30</td>
                            <td>Fiesta</td>
                            <td>Bar7</td>
                            <td>Juan</td>
                        </tr>
                        <thead>
                            <tr>
                                <th scope="col" colspan="4">Esta semana</th>
                            </tr>
                        </thead>
                        <tr>
                            <td>19/08/2018 19:30</td>
                            <td>Fiesta</td>
                            <td>Bar7</td>
                            <td>Juan</td>
                        </tr>
                        <thead>
                            <tr>
                                <th scope="col" colspan="4">Proximos</th>
                            </tr>
                        </thead>
                        <tr>
                            <td>19/08/2018 19:30</td>
                            <td>Fiesta</td>
                            <td>Bar7</td>
                            <td>Juan</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>