<h2 style=text-align:center>Organizados por mi</h2>
<br>
<div class="container-fluid border m-2">
  <table class="table table-hover">
    <tr>
      <th>Fecha</th>
      <th>Evento</th>
      <th>Lugar</th>
      <th>Invitados</th>
      <th>Confirmados</th>
      <th>Rechazados</th>
    </tr>
    <tr *ngFor="let evento of organizadosPorMi">
      <td>{{evento.inicioEvento | date : 'dd/MM/yyyy H:m'}}</td>
      <td>{{evento.nombreEvento}}</td>
      <td>{{evento.locacion}}</td>
  </table>

  <button mat-stroked-button color="primary">Nuevo Evento Abierto</button>
  <button mat-stroked-button color="primary">Nuevo Evento Cerrado</button>
</div>