<h2 style=text-align:center>Organizados por mi</h2>
<br>
<div class="container-fluid border m-2">
  <table class="table table-hover">
    <tr>
      <th>Fecha</th>
      <th>Evento</th>
      <th>Lugar</th>
      <th>Invitados</th>
      <th>Confirmados</th>
      <th>Rechazados</th>
    </tr>
    <tr>
      <td>15/2/91</td>
      <td>Recital</td>
      <td>Obras</td>
      <td>80</td>
      <td>50</td>
      <td>20</td>


    </tr>
    <tr>
      <td>15/2/91</td>
      <td>Recital</td>
      <td>Obras</td>
      <td>80</td>
      <td>50</td>
      <td>20</td>
    <tr>
      <td>15/2/91</td>
      <td>Recital</td>
      <td>Obras</td>
      <td>80</td>
      <td>50</td>
      <td>20</td>
    </tr>
  </table>

  <button mat-stroked-button color="primary">Nuevo Evento Abierto</button>
  <button mat-stroked-button color="primary">Nuevo Evento Cerrado</button>
</div>