<div class="container">
  <div class="row">
    <div class="col-3">
      <img class="card-img-top img-thumbnail rounded-circle w-50 m-3" src="../../../assets/img/D93.png" >

      <h2> {{usuario.nombre}}</h2>
      <h2>{{usuario.apellido}}</h2>
      <p>@{{usuario.username}}</p>
      <p> <i class="fas fa-star"></i> {{usuario.tipoUsuario.descripcion}} </p>
      <p><i class="fas fa-envelope-square"></i> {{usuario.email}}</p>
      <p><i class="fas fa-user-alt"></i> {{usuario.cantidadAmigos}}</p>

    </div>
    <div class="col-9">
      <app-amigosMiPerfil></app-amigosMiPerfil>
    </div>
  </div>
</div>