<h2 style=text-align:center>
  Organizados por mi </h2>
<div class="row">
  <!-- <div class="col-sm-2 p-2">
    <app-sidenav-eventos></app-sidenav-eventos>
  </div> -->
  <div class="col-sm-10 p-5">

    <table class="table table-hover">
      <tr>
        <th>Fecha</th>
        <th>Evento</th>
        <th>Lugar</th>
        <th>Invitados</th>
        <th>Confirmados</th>
        <th>Rechazados</th>
      </tr>
      <tr>
        <td>15/2/91</td>
        <td>Recital</td>
        <td>Obras</td>
        <td>80</td>
        <td>50</td>
        <td>20</td>


      </tr>
      <tr>
        <td>15/2/91</td>
        <td>Recital</td>
        <td>Obras</td>
        <td>80</td>
        <td>50</td>
        <td>20</td>
        <tr>
          <td>15/2/91</td>
          <td>Recital</td>
          <td>Obras</td>
          <td>80</td>
          <td>50</td>
          <td>20</td>
        </tr>
    </table>


    <div class="row">
      <div class="col-sm-7 p-5"></div>
      <div class="col-sm-5 p-10">
        <button mat-stroked-button color="primary">Nuevo Evento Abierto</button>
        <button mat-stroked-button color="primary">Nuevo Evento Cerrado</button>
      </div>


    </div>
  </div>
</div>