<!-- <form>
  <div class="row">
      <div class="col-sm-6">
    <label >Nombre</label>
    <input class="form-control" placeholder="Ingrese nombre">
    <br>
        <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Inicio">
            <mat-datepicker-toggle matSuffix [for]="picker">
              <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <input type="time">
          <br>
          <mat-form-field>
              <input matInput [matDatepicker]="picker3" placeholder="Fecha maxima confirmacion">
              <mat-datepicker-toggle matSuffix [for]="picker3">
                <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
              </mat-datepicker-toggle>
              <mat-datepicker #picker3></mat-datepicker>
            </mat-form-field>
  </div>
  <div class="col-sm-6">
    <label>Locacion</label>
    <select class="form-control">
      <option>Bar</option>
      <option>Club</option>
      <option>Concierto</option>
    </select>
    <br>
        <mat-form-field>
            <input matInput [matDatepicker]="picker2" placeholder="Fin">
            <mat-datepicker-toggle matSuffix [for]="picker2">
              <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
          <input type="time">
    
  </div>
</div>
    
<div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-secondary">Cancelar</button>
    <button type="button" class="btn btn-secondary">Aceptar</button>
  </div> -->
