<h2 style=text-align:center><b>Invitaciones Pendientes</b></h2>
<br>
<div class="container-fluid border m-2">
  <table class="table table-hover">
    <tr>
      <th>Fecha</th>
      <th>Evento</th>
      <th>Lugar</th>
      <th>Organizador</th>
      <th>Acompañantes</th>
      <th>Aceptar/Rechazar</th>
    </tr>
    <tr *ngFor="let invitacion of invitacionesPendientes">
      <td>{{invitacion.evento.inicioEvento | date : 'dd/MM/yyyy H:m'}}</td>
      <td>{{invitacion.evento.nombreEvento}}</td>
      <td>{{invitacion.evento.locacion}}</td>
      <td>{{invitacion.evento.organizador.username}}</td>
      <td>{{invitacion.cantidadAcompaniantesMaxima}}</td>
      <td><button type="button" title="Confirmar invitacion" class="btn btn-default" (click)="confirmarInvitacion(invitacion)"
          aria-label="Confirmar" [disabled]="estaPendiente(invitacion)">
          <i class="fas fa-check-circle"></i>
        </button>
        <button type="button" title="Rechazar invitacion" class="btn btn-default" (click)="rechazarInvitacion(invitacion)"
          aria-label="Rechazar">
          <i class="fas fa-times"></i>
        </button>
      </td>
    </tr>
  </table>
  <div class="alert alert-danger" *ngIf="errorMessage">
    {{errorMessage}}
  </div>
</div>